*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/**------------------------------------barra social.redes-------------------------*/


.social-body{
    position: fixed;
    top: 200px;
    left: 3px;
    z-index: 100;
}




/*------------------------------------------------Header-----------------------------*/

header{
    width: 100%;
    background: #9458e1;
    height: 80px;    
    margin-top: 20px;
    /*position: fixed;
    z-index: 1;
    /*background: plum;*/
    
}

.contenedor-menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 50px;
}

.logo h1{
    font-size: 40px;
    color: #fff;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/*---------------------------------------------------PORTADA--------------------------------*/
.contenedor-cover{
    max-width: 1200px;
    margin: auto;
    height: 100vh;
   /* border: 1px solid red;*/
   
}

.cover{
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /* border: 2px solid yellow;*/
    
}

.contenedor-cover .texto{
    max-width: 700px;
    margin-top: 10px;
    margin-left: 50px;
    /*border: 1px solid blue;*/
}

.contenedor-cover .texto p{
   font-size: 22px;
   margin: auto;
   color: rgb(64, 60, 60);
   letter-spacing: 1px;
   font-family: sans-serif;
}

.contenedor-cover .texto input{
    padding: 12px 30px;
    border: none;
    font-size: 18px;
    font-family: 'Roboto Serif', serif;
    border-radius: 50px;
    margin: 40px 100px;
    background: linear-gradient(to left, #f58db6, #FF577F);
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 1px 1px 30px -12px #f4063e;
    transition: all 300ms;
    
}

.contenedor-cover .texto input:hover{
    box-shadow: 1px 1px 30px -6px #f4063e;
}

.contenedor-cover .contenedor-img img{
    width: 750px;
}

/*-------------------SECCIÓN CARDS-----------------------------------------------------------*/
.prestaciones-cards{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    /*border: 1px solid darkblue;*/
    
}

.prestaciones-cards h2{
    text-align: center;
    margin-top: 60px;
    color: rgb(64, 60, 60)
}

.contenedor-servicios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.card-item{
    width: 400px;
    height: 400px;
    margin: auto;
    /*padding: 20px;*/
    border: 2px solid #f58db6;
    border-radius: 10px;
    text-align: center;
    margin-top: 100px; /*para q no choquen entre sí cuando haga el responsive design*/
    overflow: hidden;
    box-shadow: 0px 5px 10px #FF577F;
}

.card-item img{
    width: 50%;
    cursor: pointer;
}

.card-item h3{
    font-size: 20px;
    margin-top: 6px;
    color: rgb(81, 80, 80);
    cursor: pointer;
}

.card-item p{
    font-size: 17px;
    letter-spacing: 0.7px;
    line-height: 1.3;
    color: rgb(64, 60, 60);
    margin-top: 10px;
}

.card-item p{
    width: 100%;
    height: 160px;
    /*background: #f58db6;*/
    /*position: relative; 
    left: 0;
    bottom: 0;*/
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    padding: 10px;
    color: rgb(64, 60, 60);
}



/*-------------------------Formulario de contacto--------------------------------------------*/

.seccion-form{
    width: 100%;
    background-image: radial-gradient(#9458e1 35%, #fff);
    /*background-color: #9458e1;*/
    height: 100%;
    margin-top: 200px;
    padding-bottom: 40px;
}

.cont-form-total{
    width: 45%;
    /*border: 4px solid #9458e1;*/
    border-top: 10px solid #FF577F;
    background-color: #f58db6;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    padding: 18px 20px;
    display: block;
    border-radius: 7px;
    box-shadow: 0px 6px 11px #7537c6;
}

.img-form{
   /* border: 2px dashed rgb(13, 13, 245);*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;   
}

.img-form img{
    width: 22%;
    /*border: 1px solid red;*/
    
}


.seccion-form h2{
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin: 20px;
   padding-top: 30px;
}

.main-input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
    border: none;
    border-radius: 7px;
}

.main-form textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

.main-form .main-send{
    background: #FF577F;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}

.main-form .main-send:hover{
    opacity: .5;
    color: #000;
    font-weight: bold;
    transition: all 7ms;
}


/*--------------------------GIMMASIA LOS SÁBADOS-------------------------------------------*/

.gimnasia-sabado{
    background-color: #fff9f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fbdbe3' fill-opacity='0.24'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
}

.contenedor-total-sabado{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.gimnasia-sabado h2{
    text-align: center;
    color: rgb(64, 60, 60);
    font-size: 30px;
    margin-bottom: 60px;
    padding-top: 100px;
}

.contenedor-card-sabados p{
    font-size: 19px;
    color: rgb(64, 60, 60);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2;
}

.contenedor-card-sabados .img1-sabado{
 width: 15%; 
 float: left;
 margin-right: 21px;
 margin-bottom: 21px;
 margin-top: 21px;
}

.contenedor-card-sabados .img2-sabado{
 width: 15%; 
 float: right;
 margin-left: 21px;
 margin-bottom: 21px;
 margin-top: 21px;
}

/*------------------------------------------------------Ubicación---------------------------------*/

.ubicacion{
    margin-top: 200px;
   
}

.contenedor-texto-plano img{
    width: 20%;
}