*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: #9458e1;
    height: 80px;    
    margin-top: 20px;
    /*position: fixed;
    z-index: 1;
    /*background: plum;*/
}

.contenedor-menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 50px;
}

.logo h1{
    font-size: 40px;
    color: #fff;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/*-----------------------------------------------------------------------------------*/
.contenedor-cover{
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    border: 1px solid red;
}

.cover{
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid yellow;
    
}

.contenedor-cover .texto{
    max-width: 700px;
    margin-top: 10px;
    margin-left: 50px;
    /*border: 1px solid blue;*/
}

.contenedor-cover .texto p{
   font-size: 22px;
   margin: auto;
   color: rgb(64, 60, 60);
   letter-spacing: 1px;
   font-family: sans-serif;
}

.contenedor-cover .texto input{
    padding: 12px 30px;
    border: none;
    font-size: 18px;
    font-family: 'Roboto Serif', serif;
    border-radius: 50px;
    margin: 40px 100px;
    background: linear-gradient(to left, #f58db6, #FF577F);
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 1px 1px 30px -12px #f4063e;
    transition: all 300ms;
    
}

.contenedor-cover .texto input:hover{
    box-shadow: 1px 1px 30px -6px #f4063e;
}

.contenedor-cover .contenedor-img img{
    width: 750px;
}

/*-------------------SECCIÓN CARDS-----------------------------------------------------------*/

.card-img img{
    width: 200px;
    height: 200px;
}




/*-------------------------Formulario de contacto--------------------------------------------*/

.form-body{
    width: 500px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 10px;
}

.form-body img{
    width: 150px;
    display: block;
    margin: 20px 0px;
}

.form-body h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #9458e1;
    margin-bottom: 25px;
}

.form-body input, textarea{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #fa1616;
    border: 1px solid blue;
   /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
   background-color: yellow;
   border-top-left-radius: 10px;
   border-bottom-right-radius: 10px;
   font-size: 1rem;
   outline: none;
}

.form-body button{
 display: block;
 margin: auto;
 margin-top: 25px;
 margin-bottom: 30px;
 height: 40px;
 width: 78%;
 background: pink;
 color: #fff;
 border-radius: 2px;
 cursor: pointer;
 outline: none;
 transition: all .5s ease;
}

.form-body button:hover{
    color: purple;
    border: 2px solid green;
    /*background: linear-gradient(rgb(65, 59, 59) rgb(44, 2, 2));*/
}
